<p>Ember Table with Controller/View</p>

{{ember-table
  hasFooter=true
  columns=tableColumns
  content=model.users
}}

<button {{action 'loadMore'}}>Load More Users</button>

<p>Ember Table with Component</p>

{{ember-table-users}}
